---
Checks: >
  bugprone-*,
  performance-*,
  concurrency-*,
  modernize-*,
  readability-*,
  
  -readability-identifier-length,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,

WarningsAsErrors: ''

HeaderFilterRegex: '.*'
FormatStyle: file